.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15em;
    width: 40%;
}

.top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(135deg, rgba(250, 231, 199), rgba(225, 231, 241));
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom {}

.bottom-price {}